<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid r-aside">
    <app-breadcrumb></app-breadcrumb>
    <app-notification></app-notification>
    <router-outlet></router-outlet>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->